<a href="https://colab.research.google.com/github/ajitjaison/Exploratory-Data-Analysis/blob/master/Initial_D3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
abalone_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/abalone_data/training_set_label.csv" )
# print(abalone_data)
dummies = pd.get_dummies(abalone_data.Sex)
dummies

      F  I  M
0     1  0  0
1     1  0  0
2     0  0  1
3     1  0  0
4     0  0  1
...  .. .. ..
3127  0  0  1
3128  0  1  0
3129  0  0  1
3130  0  0  1
3131  1  0  0

[3132 rows x 3 columns]

In [3]:
merged = pd.concat([abalone_data,dummies],axis=1)
merged

     Sex  Length  Diameter  Height  Whole weight  ...  Shell weight  Rings  F  I  M
0      F   0.525     0.400   0.135        0.7140  ...        0.2080     10  1  0  0
1      F   0.445     0.325   0.125        0.4550  ...        0.1400      9  1  0  0
2      M   0.710     0.540   0.165        1.9590  ...        0.7800     18  0  0  1
3      F   0.680     0.580   0.200        1.7870  ...        0.6000     19  1  0  0
4      M   0.605     0.470   0.160        1.1735  ...        0.3450     12  0  0  1
...   ..     ...       ...     ...           ...  ...           ...    ... .. .. ..
3127   M   0.415     0.315   0.120        0.4015  ...        0.0970      8  0  0  1
3128   I   0.325     0.240   0.070        0.1520  ...        0.0540      8  0  1  0
3129   M   0.565     0.455   0.155        0.9355  ...        0.2600     11  0  0  1
3130   M   0.610     0.485   0.145        1.3305  ...        0.2865      9  0  0  1
3131   F   0.655     0.505   0.190        1.3485  ...        0.4250     12  1  0  0

[3132 rows x 12 columns]

In [20]:
final = merged.drop(['Sex','M'], axis = 1)
final

      Length  Diameter  Height  Whole weight  ...  Shell weight  Rings  F  I
0      0.525     0.400   0.135        0.7140  ...        0.2080     10  1  0
1      0.445     0.325   0.125        0.4550  ...        0.1400      9  1  0
2      0.710     0.540   0.165        1.9590  ...        0.7800     18  0  0
3      0.680     0.580   0.200        1.7870  ...        0.6000     19  1  0
4      0.605     0.470   0.160        1.1735  ...        0.3450     12  0  0
...      ...       ...     ...           ...  ...           ...    ... .. ..
3127   0.415     0.315   0.120        0.4015  ...        0.0970      8  0  0
3128   0.325     0.240   0.070        0.1520  ...        0.0540      8  0  1
3129   0.565     0.455   0.155        0.9355  ...        0.2600     11  0  0
3130   0.610     0.485   0.145        1.3305  ...        0.2865      9  0  0
3131   0.655     0.505   0.190        1.3485  ...        0.4250     12  1  0

[3132 rows x 10 columns]

In [21]:
X = final.drop('Rings', axis = 1) 

y = final.Rings             # Output/Dependent variable
print(X)
print(y)

      Length  Diameter  Height  ...  Shell weight  F  I
0      0.525     0.400   0.135  ...        0.2080  1  0
1      0.445     0.325   0.125  ...        0.1400  1  0
2      0.710     0.540   0.165  ...        0.7800  0  0
3      0.680     0.580   0.200  ...        0.6000  1  0
4      0.605     0.470   0.160  ...        0.3450  0  0
...      ...       ...     ...  ...           ... .. ..
3127   0.415     0.315   0.120  ...        0.0970  0  0
3128   0.325     0.240   0.070  ...        0.0540  0  1
3129   0.565     0.455   0.155  ...        0.2600  0  0
3130   0.610     0.485   0.145  ...        0.2865  0  0
3131   0.655     0.505   0.190  ...        0.4250  1  0

[3132 rows x 9 columns]
0       10
1        9
2       18
3       19
4       12
        ..
3127     8
3128     8
3129    11
3130     9
3131    12
Name: Rings, Length: 3132, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.3, random_state = 42)

print(X_train)
print(y_train)

      Length  Diameter  Height  ...  Shell weight  F  I
1872   0.510     0.385   0.145  ...        0.1805  0  1
1457   0.530     0.420   0.165  ...        0.2450  0  0
1113   0.450     0.335   0.125  ...        0.1100  0  0
2297   0.670     0.515   0.165  ...        0.3160  0  0
2089   0.335     0.260   0.090  ...        0.0650  0  1
...      ...       ...     ...  ...           ... .. ..
3092   0.405     0.300   0.085  ...        0.0880  0  1
1095   0.515     0.380   0.120  ...        0.1600  0  1
1130   0.575     0.435   0.150  ...        0.2700  0  0
1294   0.675     0.565   0.195  ...        0.5530  1  0
860    0.475     0.365   0.120  ...        0.1365  0  1

[2192 rows x 9 columns]
1872     8
1457    11
1113     6
2297    11
2089    11
        ..
3092     7
1095     7
1130    17
1294    12
860      8
Name: Rings, Length: 2192, dtype: int64

In [24]:
from sklearn.ensemble import RandomForestRegressor
rfc = RandomForestRegressor()
rfc.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [25]:
pred = rfc.predict(X_val)
rfc.score(X,y,None)

0.8180075995069742

In [26]:
from sklearn.metrics import mean_squared_error
print('Root Mean Squared Error is: ', np.sqrt(mean_squared_error(y_val, pred)))

Root Mean Squared Error is:  2.169005606066738

In [27]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/abalone_data/testing_set_label.csv')
dum_test = pd.get_dummies(test_data.Sex)
dum_test

      F  I  M
0     1  0  0
1     0  1  0
2     0  1  0
3     1  0  0
4     1  0  0
...  .. .. ..
1039  0  1  0
1040  0  1  0
1041  0  1  0
1042  0  0  1
1043  0  1  0

[1044 rows x 3 columns]

In [28]:
merged_test = pd.concat([test_data,dum_test],axis=1)
merged_test

     Sex  Length  Diameter  Height  ...  Shell weight  F  I  M
0      F   0.555     0.445   0.175  ...        0.2785  1  0  0
1      I   0.360     0.270   0.090  ...        0.0650  0  1  0
2      I   0.395     0.320   0.100  ...        0.0900  0  1  0
3      F   0.585     0.450   0.170  ...        0.2700  1  0  0
4      F   0.575     0.460   0.160  ...        0.2490  1  0  0
...   ..     ...       ...     ...  ...           ... .. .. ..
1039   I   0.270     0.190   0.080  ...        0.0300  0  1  0
1040   I   0.520     0.395   0.115  ...        0.1860  0  1  0
1041   I   0.480     0.355   0.110  ...        0.1400  0  1  0
1042   M   0.665     0.520   0.175  ...        0.3950  0  0  1
1043   I   0.530     0.415   0.110  ...        0.1890  0  1  0

[1044 rows x 11 columns]

In [29]:
final_test = merged_test.drop(['Sex','M'], axis = 1)
final_test

      Length  Diameter  Height  ...  Shell weight  F  I
0      0.555     0.445   0.175  ...        0.2785  1  0
1      0.360     0.270   0.090  ...        0.0650  0  1
2      0.395     0.320   0.100  ...        0.0900  0  1
3      0.585     0.450   0.170  ...        0.2700  1  0
4      0.575     0.460   0.160  ...        0.2490  1  0
...      ...       ...     ...  ...           ... .. ..
1039   0.270     0.190   0.080  ...        0.0300  0  1
1040   0.520     0.395   0.115  ...        0.1860  0  1
1041   0.480     0.355   0.110  ...        0.1400  0  1
1042   0.665     0.520   0.175  ...        0.3950  0  0
1043   0.530     0.415   0.110  ...        0.1890  0  1

[1044 rows x 9 columns]

In [30]:
target = rfc.predict(final_test)

In [31]:
res = pd.DataFrame(target) # target are nothing but the final predictions of your model on input features of your new unseen test data
res.index = final_test.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]

# To download the csv file locally
from google.colab import files
res.to_csv('submission.csv')         
files.download('submission.csv')